<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-dark bg-primary" th:fragment="header">
  <div class="container">
    <span th:text="${name}" class="navbar-brand mb-0 ml-60 h1"/>
    <div class="text-light">
      <strong th:text="'User: '"/>
      <span sec:authentication="name"/><br>
      <strong th:text="'Role(s): '"/>
      <span sec:authentication="principal.authorities"/>
    </div>
    <div class="col text-light">
      <div class="row-md-5">
        <strong th:text="'Weather: '"/>
        <span th:text="${weather.temp}+', '+${weather.description}"/>
      </div>
      <table class="table table-bordered table-sm">
        <tr>
          <th scope="col">USD</th>
          <th scope="col">CHF</th>
          <th scope="col">EUR</th>
          <th scope="col">GBP</th>
          <th scope="col">PLN</th>
        </tr>
        <tr>
          <td class="text-center">
            <strong th:text="'1'"/>
          </td>
          <td th:text="${#numbers.formatDecimal(currency.chf,1,2)}"/>
          <td th:text="${#numbers.formatDecimal(currency.eur,1,2)}"/>
          <td th:text="${#numbers.formatDecimal(currency.gbp,1,2)}"/>
          <td th:text="${#numbers.formatDecimal(currency.pln,1,2)}"/>
        </tr>
      </table>
    </div>
    <div class="form-inline">
      <a th:href="@{/employees/showFormForAdd}"
         class="btn btn-secondary mr-1">
        Add Employee
      </a>
      <form action="#" th:action="@{/logout}"
            method="POST">
        <input type="submit" value="Logout" class="btn btn-secondary mr-1" />
      </form>
      <form th:action="@{/employees/search}" >
        <input class="form-control  mr-1" type="search" name="employeeName" placeholder="Search by name" />
        <button class="btn btn-secondary" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>