<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" media="all" href="/css/error.css" th:href="@{/css/error.css}" />
	<title>Save Employee</title>
</head>

<body>

	<div class="container">
	
		<h3>Employee Directory</h3>
		<hr>
		
		<p class="h4 mb-4">Save Employee</p>
	
		<form th:action="@{/employees/save}"
			  th:object="${employee}" method="POST">
			<input type="hidden" th:field="*{id}" />
			<input type="text" th:field="*{firstName}"
					class="form-control mb-4 col-4" placeholder="First name">
			<input type="text" th:field="*{lastName}"
					class="form-control mb-4 col-4" placeholder="Last name">
			<input type="text" th:field="*{email}"
					class="form-control mb-4 col-4" placeholder="Email">
			<input type="date" class="form-control mb-4 col-4" th:field="*{employment_date}" />
			<select th:field="*{department.id}" id="dropOperator" class="form-control mb-4 col-4">
				<option value="0">select department</option>
				<option th:each="dep : ${departments}" th:value="${dep.id}" th:text="${dep.name}"></option>
			</select>
			<input type="text" class="form-control mb-4 col-4" th:field="*{salary}" />
			<button type="submit" class="btn btn-info col-2">Save</button>

		</form>
		<hr>
		<div th:if="${#fields.hasErrors('employee.*')}">
		<h4>All errors:</h4>
		<ul>
			<li class="error" th:each="err : ${#fields.errors('employee.*')}" th:text="*{err}" />
		</ul>
		</div>

	<hr>
		<a th:href="@{/employees/list}">Back to Employees List</a>
	</div>
</body>

</html>










