<!DOCTYPE HTML>
<html lang="en" 
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<title>Employee Directory</title>
</head>

<body>

<div class="container" th:with="name='Employee Management'">
	<div th:insert="bar :: header"/>
	<hr>

	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
				<th>Department</th>
				<th>Salary</th>
				<th>Employment Date</th>

				<div sec:authorize="hasAnyRole('ROLE_MANAGER', 'ROLE_ADMIN')">
					<th>Action</th>
				</div>					
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="tempEmployee : ${employees}">
			
				<td th:text="${tempEmployee.firstName}" />
				<div sec:authorize="hasRole('ROLE_EMPLOYEE')">
					<td th:text="${tempEmployee.lastName}" />
					<td th:text="${tempEmployee.email}" />
					<td>
						<a th:href="@{/departments/showDepartment(departmentId=${tempEmployee.department.id})}" th:text="${tempEmployee.department.name}"></a>
					</td>
				</div>
				<div class="form-group" th:if="not ${#authorization.expression('hasRole(''ROLE_EMPLOYEE'')')}">
					<td>"You have not permission to see this content" </td>
					<td>"You have not permission to see this content" </td>
					<td>"You have not permission to see this content" </td>
				</div>
				<div sec:authorize="hasRole('ROLE_MANAGER')">
					<td th:text="${tempEmployee.salary}" />
					<td th:text="${tempEmployee.employment_date}" />
				</div>
				<div class="form-group" th:if="not ${#authorization.expression('hasRole(''ROLE_MANAGER'')')}">
					<td>"You have not permission to see this content" </td>
					<td>"You have not permission to see this content" </td>
				</div>


				<div sec:authorize="hasAnyRole('ROLE_MANAGER', 'ROLE_ADMIN')">
				
					<td>
						<div sec:authorize="hasAnyRole('ROLE_MANAGER', 'ROLE_ADMIN')">
	
							<!-- Add "update" button/link -->
							<a th:href="@{/employees/update(employeeId=${tempEmployee.id})}"
							   class="btn btn-info btn-sm">
								Update
							</a>
	
						</div>					
					
						<div sec:authorize="hasRole('ROLE_ADMIN')">  
						
							<!-- Add "delete" button/link -->					
							<a th:href="@{/employees/delete(employeeId=${tempEmployee.id})}"
							   class="btn btn-danger btn-sm"
							   onclick="if (!(confirm('Are you sure you want to delete this employee?'))) return false">
								Delete
							</a>
	
						</div>					
					</td>

				</div>				
				
			</tr>
		</tbody>		
	</table>
	<nav aria-label="Page navigation example">
		<ul class="pagination">
			<th:block th:if="${employees.totalPages > 0}" th:each="pageNumber : ${pageNumbers}">
				<li class="page-item">
					<a th:href="@{list(size=${employees.size}, page=${pageNumber})}"
										 th:text="${pageNumber+1}" class="page-link"/>
				</li>
			</th:block>
		</ul>
	</nav>

</div>
	
</body>
</html>



