<!DOCTYPE HTML>
<html lang="en" 
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Department Directory</title>
</head>

<body>

<div class="container" th:with="name='Department Directory'">
	<div th:insert="bar :: header"/>
	<hr>
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Average Salary</th>
				<th>Average Seniority</th>
				<th>Lowest Salary</th>
				<th>Highest Salary</th>
				<th>Employment</th>
			</tr>
		</thead>
		
		<tbody>
				<td th:text="${department.name}" />
				<td th:text="${department.description}" />
				<td th:text="${statistics.averageSalary}" />
				<td th:text="${statistics.averageSeniorityYears}+ 'years and ' + ${statistics.averageSeniorityMoths}+'months'"/>
				<td th:text="${statistics.lowestSalary}" />
				<td th:text="${statistics.highestSalary}" />
				<td th:text="${statistics.employment}" />

		</tbody>
	</table>
	<form action="#" th:action="@{/employees/list}"
		  method="GET">
		<input type="submit" value="Employees" class="btn btn-outline-primary mt-2" />
	</form>
	
</div>
</body>
</html>



